.social-block {
  position: relative;

  &:hover {
    .social-block__list {
      opacity: 1;
      pointer-events: auto;

      li {
        $transitionDuration: 0.15s;

        opacity: 1;
        transform: translateY(0);
        transition-property: transform, opacity;
        transition-duration: $transitionDuration;
        transition-timing-function: ease-out;

        @for $i from 2 through 3 {
          &:nth-child(#{$i}) {
            transition-delay: $transitionDuration * ($i - 1);
          }
        }
      }
    }
  }
}

.social-block__toggler {
  $transitionDuration: 0.15s;

  @include btn-reset;
  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
  color: $c-dark;
  border-radius: 50%;
  transition: color $transitionDuration ease-in-out;

  @media (max-width: $tablet) and (orientation: portrait) {
    display: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: none;
  }

  &::before {
    @include center;
    transform: translate(-50%, -50%) scale(0);
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $c-light;
    border: 2px solid $c-light;
    transition: transform 0.4s cubic-bezier(0.8, 1.5, 1, 1);
    z-index: -1;
  }

  svg {
    @include center;
    display: block;
    width: 2.3rem;
    height: 2.2rem;
  }
}

body.loaded .social-block__toggler {
  &::before {
    transform: translate(-50%, -50%) scale(1);
  }

  &:hover,
  .social-block--active & {
    color: $c-purple;
    
    &::before {
      $scale: 0.125;
      transform: scale(1 + $scale) translate(-(50% * (1 - $scale)), -(50% * (1 - $scale)));
    }
  }

  &:focus {
    color: $c-purple;
    outline: none;

    &::before {
      border-color: $c-purple;
    }

    & + .social-block__list {
      opacity: 1;
      pointer-events: auto;

      li {
        $transitionDuration: 0.2s;

        opacity: 1;
        transform: translateY(0);
        transition-property: transform, opacity;
        transition-duration: $transitionDuration;
        transition-timing-function: ease-out;

        @for $i from 2 through 3 {
          &:nth-child(#{$i}) {
            transition-delay: $transitionDuration * ($i - 1);
          }
        }
      }
    }
  }

  &:active,
  &:active:focus {
    color: $c-light;

    &::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.social-block__list {
  @include list-reset;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 1.5rem;
  opacity: 0;
  pointer-events: none;

  @media (min-width: $stop-scaling) {
    margin-top: 15px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    opacity: 1;
    pointer-events: auto;

    li {
      $transitionDuration: 0.2s;

      opacity: 1;
      transform: translateY(0);
      transition-property: transform, opacity;
      transition-duration: $transitionDuration;
      transition-timing-function: ease-out;

      @for $i from 2 through 3 {
        &:nth-child(#{$i}) {
          transition-delay: $transitionDuration * ($i - 1);
        }
      }
    }
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    opacity: 1;
    pointer-events: auto;

    li {
      $transitionDuration: 0.2s;

      opacity: 1;
      transform: translateY(0);
      transition-property: transform, opacity;
      transition-duration: $transitionDuration;
      transition-timing-function: ease-out;

      @for $i from 2 through 3 {
        &:nth-child(#{$i}) {
          transition-delay: $transitionDuration * ($i - 1);
        }
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 1.5rem;

    @media (min-width: $stop-scaling) {
      height: 15px;
    }
  }

  &:hover {
    opacity: 1;
    pointer-events: auto;

    li {
      $transitionDuration: 0.2s;

      opacity: 1;
      transform: translateY(0);
      transition-property: transform, opacity;
      transition-duration: $transitionDuration;
      transition-timing-function: ease-out;

      @for $i from 2 through 3 {
        &:nth-child(#{$i}) {
          transition-delay: $transitionDuration * ($i - 1);
        }
      }
    }
  }

  &:focus-within {
    opacity: 1;
    pointer-events: auto;

    li {
      $transitionDuration: 0.2s;

      opacity: 1;
      transform: translateY(0);
      transition-property: transform, opacity;
      transition-duration: $transitionDuration;
      transition-timing-function: ease-out;

      @for $i from 2 through 3 {
        &:nth-child(#{$i}) {
          transition-delay: $transitionDuration * ($i - 1);
        }
      }
    }
  }

  .social-block--active & {
    opacity: 1;
    pointer-events: auto;
  }

  li {
    flex: none;
    margin-bottom: 0.5rem;
    opacity: 0;
    transform: translateY(10px);

    @media (min-width: $stop-scaling) {
      margin-bottom: 5px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      margin: 0 1.25rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin: 0 1.25rem;
    }
  }
}

.social-block__link {
  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
  color: $c-light;
  border: 2px solid transparent;
  border-radius: 50%;

  @media (min-width: $stop-scaling) {
    width: 40px;
    height: 40px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    color: $c-light;
    background-color: $c-dark;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    color: $c-light;
    background-color: $c-dark;
  }

  &:hover {
    color: $c-purple;
  }

  &:focus {
    color: $c-purple;
    background-color: $c-light;
    border-color: $c-purple;
    outline: none;
  }

  &:active,
  &:active:focus {
    color: $c-purple;
    background-color: $c-light;
    border-color: $c-light;
  }

  svg {
    @include center;
  }

  &--fb {
    svg {
      width: 0.8rem;
      height: 1.7rem;

      @media (min-width: $stop-scaling) {
        width: 8px;
        height: 17px;
      }
    }
  }

  &--insta {
    svg {
      width: 1.5rem;
      height: 1.5rem;

      @media (min-width: $stop-scaling) {
        width: 15px;
        height: 15px;
      }
    }
  }

  &--vk {
    svg {
      width: 1.7rem;
      height: 1rem;

      @media (min-width: $stop-scaling) {
        width: 10px;
        height: 10px;
      }
    }
  }
}
